<div style="widows: 100%;" id="prjdetailadd">

    <table style="widows: 100%;">
        <tr>

            <td>Project Id:-</td> <td><input id="txtProjectId" width="200px" readonly /> </td>

        </tr>
        <tr>

            <td>Project Name:-</td> <td><input id="txtProjectName" width="200px" /> </td>

        </tr>
        <tr>

            <td>Language of Development:-</td> <td><input id="txtLanguage" width="200px" /></td>

        </tr>
        <tr>

            <td></td> <td><input type="BUTTON" value="Add" id="btnAdd"><input type="BUTTON" value="Reset" id="btnReset"><input type="BUTTON" value="Remove" id="btnRemove"> </td>

        </tr>


    </table>

</div>